@import '../../variables.scss';
.Grid {
  display: grid;
  gap: 2rem;
  margin-bottom: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 250px 250px;
  grid-template-areas:
    'image1 image3'
    'image2 image3';
}
.Image1 {
  background: url('/smile.jpg');
  background-size: cover;
  grid-area: image1;
}
.Image2 {
  background: url('/working.jpg');
  background-size: cover;
  grid-area: image2;
}
.RateABiz {
  background: $warning;
  grid-area: image3;
}
