@import '../../variables.scss';
.StarContainer {
  p {
    display: inline;
  }
  p:last-child {
    margin-left: 0.5rem;
    color: $secondary;
  }
}
.Star {
  color: $warning;
}
.Rating {
  padding: 2rem;
}
.RatingText {
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 300;
  font-style: italic;
}
