@import '../../variables.scss';
.Review {
  min-height: 100px;
  width: $_16;
  background: $secondary;
  margin: 0 $_05 $_1;
  padding-top: $_2;
  align-items: center;
  text-align: center;
}
.Title {
  margin: 0 $_1;
}
.Overline {
  margin: 0 $_1 $_1;
}
.Body {
  margin: 0 $_2 $_2;
}
