@import '../../variables.scss';
.Maps {
  height: 400px;
  margin-bottom: 2rem;
  border-radius: 0.25rem;
  background: $info;
  & > div > div > div > div > div > div {
    box-shadow: inset 0 0 4px $dark;
    border-radius: 0.25rem;
  }
  & div {
    border-radius: 0.25rem;
  }
}

.Shadow {
}
.Marker {
  color: $primary;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  position: relative;
  transform: translate(-50%, -100%);
}
