@import '../../variables.scss';

.CollapsibleMenu {
  display: none;
  flex-grow: 1;
  justify-content: space-evenly;
}
.MenuButton {
  display: block;
}
@include breakpoint(sm) {
  .MenuButton {
    display: none;
  }
  .CollapsibleMenu {
    display: flex;
  }
}
