@import '../../variables.scss';
$mda: url('/mda-words.png');
$ada: url('/ada.png');
.Grid {
  display: grid;
  grid-template-columns: 2fr 3fr;
  place-items: stretch;
  height: 400px;
}
.Ada {
  background: $ada;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}
.Mda {
  background: $mda;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
}
@include breakpoint(xs) {
  .Grid {
    display: none;
  }
  .Ada {
    display: none;
  }
  .Mda {
    display: none;
  }
}
