@import '../../variables.scss';
.RateABiz {
  height: 500px;
  margin-bottom: 2rem;
}
.ReviewContainer {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  transition-duration: 1s;
}
.PrevRatings {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
}
.NextRatings {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
}
@keyframes example {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-100%, 0);
  }
}
.ButtonContainer {
  margin: auto;
  text-align: center;
}
.AverageRatingContainer {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
}
.EmptyStars:before {
  content: '\2605\2605\2605\2605\2605';
  color: $secondary;
  font-size: 2rem;
}
.FullStars:before {
  content: '\2605\2605\2605\2605\2605';
  color: $warning;
  font-size: 2rem;
}
.EmptyStars:before {
  -webkit-text-stroke: 1px $secondary;
}
.FullStars:before {
  -webkit-text-stroke: 1px $warning;
}
.FullStars {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  color: orange;
}
.Percent {
  display: inline;
  font-size: 1.5rem;
  vertical-align: middle;
  margin-left: 0.5rem;
  font-weight: 300;
}
