@import '../../variables.scss';
.RateABiz {
  height: 500px;
  margin-bottom: 2rem;
}
.ReviewContainer {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  transition-duration: 1s;
}
.PrevRatings {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
}
.NextRatings {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
}
@keyframes example {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-100%, 0);
  }
}
