@import '../../variables.scss';
.Feature {
  min-height: 100px;
  margin: 0 0 0;
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: start;
  align-items: center;
}
.Text {
  margin-left: $_1;
}
.Icon {
  margin-left: $_1;
  width: $_3;
  height: $_3;
  background: $light;
}
.Button {
  margin-right: $_1;
}
