@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:300,400,500,700,900&display=swap');
@import './variables.scss';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0;
  color: #333;
  text-decoration: none;
  text-emphasis: none;
}

/*********************
TYPOGRAPHY
*********************/
p.btn-text {
  font-size: 0.875rem;
  line-height: 0.875rem;
  letter-spacing: 0.078125rem;
  font-weight: 500;
  text-transform: uppercase;
  color: $primary;
}
button {
  background: none;
  border: none;
}

/*********************
LAYOUT
*********************/

/** BASE **/
.main-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(100vh, auto) minmax(200px, auto);
  grid-template-areas:
    'body'
    'footer';
}
/** XS **/
@include breakpoint(xs) {
  .main-layout {
    grid-template-columns: 1fr;
    grid-template-areas:
      'body'
      'footer';
  }
}
/** SM **/
@include breakpoint(sm) {
  .main-layout {
    grid-template-columns: 1fr 768px 1fr;
    grid-template-areas:
      '. body .'
      '. footer .';
  }
}
/** MD **/
@include breakpoint(md) {
  .main-layout {
  }
}
/** LG **/
@include breakpoint(lg) {
  .main-layout {
  }
}
/** XL **/
@include breakpoint(xl) {
  .main-layout {
  }
}
