/*********************
VARIABLES
*********************/

$primary: #007bfe;
$secondary: #6c747d;
$success: #27a745;
$info: #17a1b8;
$warning: #ffc106;
$danger: #dc3545;
$dark: #333940;
$light: #f8f9fa;

/*********************
BREAKPOINTS
*********************/

@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $class == sm {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $class == md {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $class == lg {
    @media (min-width: 1200px) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}
